@model ProyectoTurnos.Models.Consulta

@{
    ViewData["Title"] = "Delete";
}

<h1 style="font-family: Roboto">Eliminar</h1>

<h4 style="font-family: Roboto">Desea eliminar la consuta : @Html.DisplayTextFor(m => m.descripcion)?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
    </dl>
    
   <form asp-action="Delete" style="margin-top: 35px">
       <input type="hidden" asp-for="IdConsulta" />
       <input type="submit" value="Eliminar"  class="btn btn-outline-danger" /> 
       <a asp-action="Index" class="button btn btn-outline-primary">Volver a la lista</a>
   </form>
</div>
